* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Georgia", serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 36px;
}

.header {
    display: flex;
    background-color: rgb(14, 51, 137);
    justify-content: flex-end;
    align-items: center;
    height: 64px;
    position: sticky;
    top: 0;
}

.home-link {
    color: white;
    font-size: 24px;
    margin-left: 48px;
}

.theme-button {
    margin-right: auto;
    margin-left: 100px;
}

.button-style {
    border-radius: 10px;
    padding: 8px;
    width: 100px;
    text-align: center;
    background-color: white;
    border: none; /* Remove default button border */
    cursor: pointer; /* Add pointer cursor for better UX */
    font-size: 14px; /* Match font size with .nav-links li a */
    color: black; /* Match text color with .nav-links li a */
}

.nav-links {
    display: flex;
    gap: 24px;
    margin-right: 48px;
}

.nav-label {
    margin-right: 18px;
    font-size: 18px;
    color: white;
}

.nav-links li {
    border-radius: 10px;
    padding: 8px;
    width: 140px;
    text-align: center;
    background-color: rgb(220, 220, 220);
}

.nav-links li a {
    color: black;
    font-size: 16px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: rgb(14, 51, 137);
    height: 64px;
    align-items: center;
    margin-top: 0px;
}

.footer a {
    color: white;
    font-size: 20px;
}

.content-area {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    margin-bottom: 0px;
    padding-bottom: 48px;
}

.content-area p {
    flex: 2;
    align-self: center;
    padding-right: 24px;
    margin-top: 0px;
}

.name-logos {
    display: flex;
    padding: 24px;
    padding-bottom: 0px;
}

.name {
    margin-right: auto;
}

.logos {
    display: flex;
    gap: 36px;
}

.logos img{
    height: 100px;
    width: auto;
    padding-bottom: 0px;
}

.description {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-right: 60px;
}

.pic-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.pic-description {
    display: flex;
    flex-wrap: wrap;
}

body.dark .content-area {
    background-color:rgb(50, 50, 50);
}

body.dark {
    color: white;
}

body.dark .button-style {
    color: white;
    background-color: rgb(50, 50, 50);
}