* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    background-color: rgb(229, 229, 229);
    justify-content: flex-end;
    align-items: center;
    height: 48px;
    position: sticky;
    top: 0;
}

.nav-links {
    display: flex;
    gap: 56px;
    margin-right: 72px;
}

.nav-label {
    margin-right: 64px;
    font-size: 16px;
}

.nav-links li {
    border: 0.5px solid black;
    border-radius: 8px;
    padding: 8px;
    width: 120px;
    text-align: center;
}

.nav-links li a {
    color: black;
    font-size: 16px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: rgb(229, 229, 229);
    height: 48px;
    align-items: center;
}

.footer a {
    color: black;
    font-size: 18px;
}